.player-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(89deg, #f80dfd -0.19%, #8b1edf 103.13%) border-box;
  border: 2px solid transparent;
  border-radius: 14px;
  margin: 16px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.player-image-wrapper {
  margin: 10px 16px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.player-text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 5px;
  p{
    color: #1D1B20;
  }
}
.player-game-wrapper {
  width:48px;
  height: 48px;
  background-size: contain;
  border-radius: 0 12px 12px 0;
}
