.players-section {
  container-type: inline-size;
  width: 100%;
}

.players-wrapper {
  display: grid;
  padding: 8px 0;
  align-self: stretch;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 1120px) {
  .players-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .players-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@container (max-width: 400px) {
  .players-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
