.teams-wrapper{
    display: grid;
    padding: 8px 0;
    align-self: stretch;
    grid-template-rows: repeat(4,minmax(0,1fr));
    grid-template-columns: repeat(3,minmax(0,1fr));
}

@media (max-width: 1100px) {
    .teams-wrapper{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

@media (max-width: 768px) {
    .teams-wrapper{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}