.team-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(89deg, #f80dfd -0.19%, #8b1edf 103.13%) border-box;
  border: 2px solid transparent;
  border-radius: 14px;
  margin: 16px;
  img {
    width: inherit;
  }
}
.team-image-wrapper {
  margin: 0 16px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.team-text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 5px;
  h2 {
    margin: 0;
    font-size: 16px;
    color: #1d1b20;
  }
  p {
    color: #1d1b20;
  }
}
.team-game-wrapper {
  width: 80px;
  height: 80px;
  background-size: contain;
  border-radius: 0 12px 12px 0;
}
