.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-h2 {
  text-align: left;
  margin: 0;
}
.p-event {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #1d1b20;
  margin: 0;
  line-height: 24px;
  padding: 0 0.5rem;
}
.event-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  overflow: scroll;
}
.event-image-wrapper {
  width: 30vh;
  height: 200px;
  overflow: hidden;
  border-radius: 16px;
}
.event-image-wrapper img {
  min-width: 100%;
  max-width: none;
  height: 100%;
  margin: 0 -100%;
}
