.event-h2{
    text-align : left;
     margin: 0;
     color: black;
}
p{
    text-align : left;
     margin: 0;
     color: black;
}
.event-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    overflow: scroll;
    color: black;
}
.event-img{
    min-width:100%;
    max-width:none;
    height:100%;
    margin:0 -100%;
}
.event-image-wrapper{
    width: 435px;
    height: 200px;
    overflow: hidden;
    border-radius: 16px;
}