#root {
  padding-top: 0;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profileBg {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.profileBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profilePic {
  position: absolute;
  top: 25vh;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 50%;
}

.profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
