.carrousel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  overflow: scroll;
  scrollbar-width: none;
  color: black;
}
.image-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 16px;
}
.image-wrapper img {
  min-width: 100%;
  max-width: none;
  height: 100%;
  margin: 0 -100%;
}
.p-uni {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #1d1b20;
  margin: 0;
  padding: 0 0.5rem;
}
.smallText {
  color: #1d1b20;
  font-size: 13px;
}
